<div class="browse-sidebar">
  <h3>{{ browse_title }}</h3>
  <ul value="date" id="sort-by">
    <label for="sort-by">Sort by</label>
    <li value="date" class="active">upload date</li>
    <li value="comments">number of comments</li>
  </ul>
  <ul value="week" id="time-frame">
    <label for="time-frame">Limit search to</label>
    <li value="day">past day</li>
    <li value="week" class="active">past week</li>
    <li value="month">past month</li>
    <li value="year">past year</li>
    <li value="all-time">all time</li>
  </ul>
  <ul value="desc" id="display-in">
    <label for="display-in">Display in</label>
    <li value="desc" class="active">desending order</li>
    <li value="asc">ascending order</li>
  </ul>
  <button id="update-list">Update List</button>
</div>
