<div class="user-dashboard">
  <div class="greeting">
    <p>
      <span class="username">Hello, {{ current_user.username }}</span>
      <span>({{ current_user.rank }})</span>
    </p>
    <a href="{{ url_for('logout') }}">Log out</a>
  </div>
  <div class="actions">
    <a href="{{ url_for('browse_kifu', upload_user_id=current_user.id) }}" id="view-uploads" class="action">View My Uploads</a>
    <a href="{{ url_for('browse_kifu', save_user_id=current_user.id) }}" id="view-saved" class="action">View Saved Kifus</a>
    <a href="{{ url_for('browse_comment', user_id=current_user.id) }}" id="view-comments" class="action">View My Comments</a>
  </div>
</div>
