#info {
  background: #4b5e76;
  color: #e8e8e8;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.7px;
}

#info .info-entry {
  border-bottom: 1px solid #3b4e66;
  padding-left: 8px;
  height: 50px;
  line-height: 50px;
  font-size: 0;
}

#info .info-entry span, #info .info-entry label {
  font-size: 18px;
}

#info .black span, #info .white span {
  display: inline-block;
}

#info .black-player, #info .white-player {
  margin-right: 5px;
}

#info svg {
  vertical-align: top;
  display: inline-block;
  height: 50px;
  width: 30px;
  margin-right: 5px;
}

#info svg.black-circle {
  fill: #363636;
}

#info svg.white-circle {
  fill: #f8f8f8;
}

#info .black-player, #info .white-player {
  max-width: 140px;
  max-height: 50px;
  overflow: hidden;
  vertical-align: top;
}

#info .black-rank, #info .white-rank {
  max-width: 75px;
  max-height: 50px;
  overflow: hidden;
  vertical-align: top;
}

#info .parenthesis {
  margin: 0 1px;
}

#info .komi span, #info .result span {
  display: inline-block;
  max-width: 140px;
  max-height: 50px;
  overflow: hidden;
  vertical-align: top;
}

#info span.fallback, #info p.fallback {
  letter-spacing: 0;
  font-size: 16px;
}

#info label {
  font-weight: bold;
  margin-right: 5px;
}

#info .description label {
  display: block;
  margin-left: 8px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}

#info .description p {
  margin: 0 8px;
  padding: 5px;
  width: 250px;
  height: 340px;
  max-height: 340px;
  overflow: auto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

#info .upload-info {
  border-top: 1px solid #3b4e66;
  padding-left: 8px;
  height: 45px;
  line-height: 45px;
  font-size: 15px;
}

#info span[contentEditable="true"]:hover,
#info p[contentEditable="true"]:hover
{
  text-shadow: 1px 0 0 #e8e8e8;
}

#info span[contentEditable="true"]:focus {
  min-width: 35px;
  padding: 0 5px;
  background: #5b6e86;
  line-height: 40px;
  margin: 5px 0;
}

#info p[contentEditable="true"]:focus {
  background: #5b6e86;
}

#info span.black-player[contentEditable="true"]:focus,
#info span.white-player[contentEditable="true"]:focus
{
  min-width: 70px;
}

#info span.kifu-komi[contentEditable="true"]:focus,
#info span.kifu-result[contentEditable="true"]:focus
{
  min-width: 80px;
}
