main {
  margin: auto;
  position: absolute;
  top: 60px;
  bottom: 22px;
  left: 0;
  right: 0;
  margin: auto;
  width: 1330px;
  height: 750px;
}

#kifu-title {
  display: block;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 70px;
  height: 70px;
  font-weight: bold;
  color: #f8f8f8;
  letter-spacing: 1px;
  overflow: hidden;
  max-width: 1300px;
  max-height: 70px;
}

#kifu-title:focus {
  padding: 0 10px;
  background: #456997;
}

#info {
  position: absolute;
  top: 70px;
  margin-top: 10px;
  margin-right: 10px;
  width: 280px;
  height: 640px;
  padding: 10px 0;
}

#game {
  position: absolute;
  width: 620px;
  height: 660px;
  top: 70px;
  left: 290px;
  margin-top: 10px;
}

#board {
  width: 600px;
  height: 600px;
  margin: 0 10px;
}

#board:hover {
  cursor: pointer;
}

#control {
  position: absolute;
  width: 400px;
  height: 660px;
  margin: 10px;
  top: 70px;
  right: 0;
}

#navigation {
  width: 400px;
  height: 40px;
}

#edit {
  width: 400px;
  height: 40px;
}

#comment-list {
  width: 400px;
  height: 520px;
  overflow: auto;
}

#comment-form {
  width: 400px;
  height: 60px;
}
