.navigation, .edit {
  display: inline-block;
  background: #e8e8e8;
  margin: auto;
  padding: 0;
  border: 0;
  letter-spacing: 0;
  font-family: monospace;
  height: 40px;
  font-size: 24px;
  color: #363636;
  vertical-align: middle;
  outline: none;
}

#navigation, #edit {
  /* remove space between inline buttons */
  font-size: 0;
}

.navigation:hover, .edit:hover {
  background: #bfbfbf;
}

.navigation {
  width: 50px;
}

.navigation svg,
.edit svg,
.navigation svg polygon,
.edit svg polygon,
.navigation svg line,
.edit svg line
{
  height: 20px;
  width: 20px;
  stroke: #363636;
  display: block;
  margin: auto;
  vertical-align: middle;
}

button:disabled svg,
button:disabled svg polygon,
button:disabled svg line
{
  stroke: #a8a8a8;
}

#add-black svg {
  stroke-width: 1px;
  stroke: #a8a8a8;
  fill: #464646;
}

#add-white svg {
  stroke-width: 1px;
  stroke: #c8c8c8;
  fill: #f8f8f8;
}

#add-black:disabled svg {
  fill: #666666;
}

#add-white:disabled svg {
  fill: #f0f0f0;
}

.edit {
  width: 50px;
}

#add-stone {
  width: 100px;
}

/* buttons with words */
#toggle-edit, #save, #cancel, #delete-node, #pass, #add-stone {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#toggle-edit {
  width: 150px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#toggle-edit:hover {
  background: #bfbfbf;
}

#toggle-edit:disabled:hover {
  background: #dddddd;
}

#save {
  width: 60px;
  background: #39ac78;
  color: #f8f8f8;
}

#cancel {
  width: 90px;
  background: #df5277;
  color: #f8f8f8;
}

#save:hover {
  background: #298c58;
}

#cancel:hover {
  background: #cf3257;
}

#pass {
  width: 70px;
}

#delete-node {
  width: 130px;
}

button:disabled {
  cursor: not-allowed;
  background: #dddddd;
  color: #a8a8a8;
}

button:disabled:hover {
  background: #dddddd;
}

.active {
  background: #c8c8c8;
}

#add-stone-menu {
  display: inline-block;
  position: absolute;
  width: 100px;
  top: 80px;
  max-height: 240px;
  overflow: auto;
  color: black;
}

#add-stone-menu li {
  background: #c8c8c8;
  color: #464646;
  display: block;
  text-align: center;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 10px;
}

#add-stone-menu li:hover {
  cursor: pointer;
  background: #b8b8b8;
}
