{# 
  edit-mode: button is disabled unless when editting
  nav-assist: button may be active to assist navigation
#}

<button class="edit edit-mode" id="delete-node"><span>Delete Node</span></button>
<button class="edit edit-mode nav-assist" id="pass"><span>Pass</span></button>
<button class="edit edit-mode nav-assist" id="add-black"><span>&#9899</span></button>
<button class="edit edit-mode nav-assist" id="add-white"><span>&#9898</span></button>
<button class="edit edit-mode" id="triangle"><span>&#9651</span></button>
<button class="edit edit-mode" id="square"><span>&#9633</span></button>
