<button class="navigation" id="beginning"><span><<</span></button>
<button class="navigation" id="prev"><span><</span></button>
<button class="navigation" id="play"><span>&#9654</span></button>
<button class="navigation" id="next"><span>></span></button>
<button class="navigation" id="end"><span>>></span></button>
{# edit placed here for layout reason #}
{# <button class="edit" id="toggle-edit"><span>Edit</span></button> #}
<button class="edit" id="save"><span>Save</span></button>
<button class="edit" id="cancel"><span>Cancel</span></button>
