body {
  background: #51739E;
  font-family: 'Open Sans', sans-serif;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  height: 60px;
  color: #97afcf;
  background: #355987;
}

header h1 a {
  font-size: 30px;
  line-height: 60px;
  padding: 0 20px;
  display: block;
  float: left;
  font-family: 'Patua One', cursive;
  font-weight: 100;
  letter-spacing: 2.5px;
  text-decoration: none;
  color: inherit;
}

header h1 a:hover {
  background: #254977;
}

header nav {
  display: block;
  float: right;
}

footer {
  height: 12px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #355987;
  padding: 5px;
  clear: both;
}

footer p {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #97afcf;
}

footer p a {
  color: #97afcf;
}
footer p a:visited {
  color: #97afcf;
}

.flashes {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1;
}

.flashes li {
  text-align: center;
  background: #635aa7;
  padding: 20px;
  color: #e8e8e8;
  border: 1px solid #57527d;
}

.flashes li span {
  display: inline-block;
  margin: 0 20px;
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
