body {
  background: #51739E;
  font-family: 'Open Sans', sans-serif;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  height: 40px;
  padding: 10px 20px;
  color: #97afcf;
  background: #355987;
}

header h1 {
  font-size: 30px;
  display: block;
  float: left;
  font-family: 'Patua One', cursive;
  letter-spacing: 2px;
  margin-top: 5px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header nav {
  display: block;
  float: right;
}

header nav a {
  display: inline-block;
  font-size: 15px;
  padding: 12px 10px;
  margin: 0 5px;
}

header nav a:hover {
  background: #1a3c67;
}

footer {
  height: 12px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #355987;
  padding: 5px;
  clear: both;
}

footer p {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #97afcf;
}

footer p a {
  color: #97afcf;
}
footer p a:visited {
  color: #97afcf;
}

.flashes li {
  text-align: center;
  background: #635aa7;
  padding: 20px;
  color: #e8e8e8;
  border: 1px solid #57527d;
}

button:hover {
  cursor: pointer;
}
