.container {
  font-size: 0;
  text-align: center;
  height: 700px;
  width: 1450px;
  position: absolute;
  top: 60px;
  bottom: 22px;
  left: 0;
  right: 0;
  margin: auto;
}

.banner {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.login-signup, .user-dashboard {
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;
}
