main {
  margin: 20px auto;
  height: 756px;
  width: 620px;
}

.kifu-list a {
  text-decoration: none;
}

.kifu-entry {
  position: relative;
  width: 550px;
  height: 100px;
  padding: 10px 35px;
  border-bottom: 1px solid #254977;
  background: #355987;
  color: #e8e8e8;
}
.kifu-entry:hover {
  background: #254977;
}

.kifu-thumbnail {
  display: inline-block;
  height: 100px;
  width: 100px;
}

.kifu-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 130px;
  right: 0px;
  margin: auto;
  display: inline-block;
  height: 100px;
  width: 400px;
}

.kifu-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 5px;
  text-align: left;
  overflow: hidden;
}

.kifu-upload {
  display: block;
  color: #d8d8d8;
  font-size: 15px;
  height: 30px;
  line-height: 18px;
  text-align: right;
  overflow: hidden;
}

.page-nav {
  background: #355987;
  height: 30px;
  font-size: 0;
  width: 620px;
}

.page-nav a {
  display: inline-block;
  width: 290px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.page-nav a:hover {
  background: #254977;
}

.page-nav svg {
  height: 20px;
  width: 20px;
  margin: 5px 135px;
}

.page-nav svg line,
.page-nav svg polyline {
  stroke: #d8d8d8;
}

.page-nav #page-num {
  text-align: center;
  color: #e8e8e8;
  line-height: 30px;
  font-size: 15px;
  vertical-align: top;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 30px;
}

#no-kifu {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: #d8d8d8;
  text-align: center;
  margin-top: 50px;
}
