{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block title %}Kifutalk - Conversations about Go made easy{% endblock %}
{% block css %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/banner.css') }}">
    {% if current_user.is_authenticated %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/components/user-dashboard.css') }}">
    {% else %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/components/login-signup.css') }}">
    {% endif %}
{% endblock %}
{% block body %}
  {{ super() }}
  <div class="container">
    {% include('components/banner.html') %}
    {% if current_user.is_authenticated %}
      {% include('components/user-dashboard.html') %}
    {% else %}
      {% include('components/login-signup.html') %}
    {% endif %}
  </div>
  <script type="text/javascript">
    // set proper container height
    var container = document.querySelector('.container');
    var banner = document.querySelector('.banner');
    var dashboard = document.querySelector('.user-dashboard');
    var loginSignUp = document.querySelector('.login-signup');
    var right = dashboard? dashboard: loginSignUp;
    var desiredHeight = Math.max(
      parseInt(window.getComputedStyle(banner).height),
      parseInt(window.getComputedStyle(right).height)
    );
    console.log(desiredHeight)
    container.style.height = desiredHeight + 'px';
  </script>
{% endblock %}
