{% extends 'layout.html' %}
{% from 'macros.html' import render_kifu_entry %}


{% block title %}Browse Kifus{% endblock %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/kifulist.css') }}">
{% endblock %}

{% block body %}
  {{ super() }}
  <main>
    {% block header %}
    {% endblock %}
    <div class="kifu-list">
      {% for kifu in kifus %}
        {{ render_kifu_entry(kifu) }}
      {% endfor %}
    </div>
    <div class="page-nav">
    {% if kifus %}
      {% if has_prev %}
        {% block prev_link %}
          <a href="{{ url_for('browse_kifu', page=(page_num-1)) }}" id="prev"><</a>
        {% endblock %}
      {% endif %}
      <span id="page-num">Page {{ page_num }}</span>
      {% if has_next %}
        {% block next_link %}
          <a href="{{ url_for('browse_kifu', page=(page_num+1)) }}" id="next">></a>
        {% endblock %}
      {% endif %}
    {% else %}
      <p id="no-kifu">No Kifus Available</p>
    {% endif %}
    </div>
  </main>
{% endblock %}
