{% extends 'layout.html' %}
{% from 'macros.html' import render_kifu_entry %}


{% block title %}Browse Kifus{% endblock %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/kifulist.css') }}">
{% endblock %}

{% block body %}
  {{ super() }}
  {% block header %}
  {% endblock %}
  <main>
    {% if kifus %}
    <div class="kifu-list">
      {% for kifu in kifus %}
        {{ render_kifu_entry(kifu) }}
      {% endfor %}
      <div class="page-nav">
          {% block prev_link %}
            <a
              id="prev"
              {% if has_prev %}
                href="{{ url_for('browse_kifu', page=(page_num-1)) }}"
              {% else %}
                href="#"
              {% endif %}
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="20" y1="12" x2="4" y2="12"/>
                <polyline points="10 18 4 12 10 6"/>
              </svg>
            </a>
          {% endblock %}
          <span id="page-num">{{ page_num }}</span>
          {% block next_link %}
            <a
            id="next"
            {% if has_next %}
              href="{{ url_for('browse_kifu', page=(page_num+1)) }}"
            {% else %}
              href="#"
            {% endif %}
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="4" y1="12" x2="20" y2="12"/>
                <polyline points="14 6 20 12 14 18"/>
              </svg>
            </a>
          {% endblock %}
      </div>
    </div>
    {% else %}
      <p id="no-kifu">No Kifus Available</p>
    {% endif %}
  </main>
{% endblock %}
