{% macro render_field(field) %}
  <div class="field">
  {{ field.label }} {{ field }}
  </div>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_kifu_entry(kifu) %}
  <a href="{{ url_for('kifu_get', kifu_id=kifu.id) }}">
    <div class="kifu-entry">
      <img class="kifu-thumbnail" src="{{ url_for('static', filename='assets/thumbnail/' ~ kifu.id ~ '.jpg') }}" alt="">
      <div class="kifu-info">
        <p class="kifu-title">{{ kifu.black_player + ' vs. ' + kifu.white_player}}</p>
        <p class="kifu-upload">Uploaded on {{ kifu.uploaded_on.strftime('%Y-%m-%d') }} by {{ kifu.username }}</p>
      </div>
    </div>
  </a>
{% endmacro %}
