{% macro render_field(field) %}
  <div class="field">
  {{ field.label }} {{ field }}
  </div>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_kifu_entry(item) %}
  {% with
    kifu=item[0],
    user=item[1],
    comment_count=0 if item[2] is none else item[2]
  %}
  <a href="{{ url_for('kifu_get', kifu_id=kifu.id) }}">
    <div class="kifu-entry">
      <img class="kifu-thumbnail" src="{{ url_for('static', filename='assets/thumbnail/' ~ kifu.id ~ '.jpg') }}" alt="">
      <div class="kifu-info">
        <p class="kifu-title">{{ kifu.title }}</p>
        <p class="number-of-comments">({{ comment_count }} comments)</p>
        <p class="player-info">Black: {{ kifu.black_player }} ({{ kifu.black_rank }})</p>
        <p class="player-info">White: {{ kifu.white_player }} ({{ kifu.white_rank }})</p>
        <p class="kifu-upload">Uploaded on {{ kifu.uploaded_on.strftime('%Y-%m-%d') }} by {{ user.username }}</p>
      </div>
    </div>
  </a>
  {% endwith %}
{% endmacro %}

{% macro render_kifu_info_entry(auth_status, entry, entry_class, auth_fallback_text, unauth_fallback_text, tag="span") %}
  {% if entry|trim == '' %}
    {% if auth_status == 2 %}
      <{{ tag }} contentEditable="true" class="fallback {{ entry_class }}">
        {{ auth_fallback_text }}
      </{{ tag }}>
    {% else %}
      <{{ tag }} class="fallback {{ entry_class }}">
        {{ unauth_fallback_text }}
      </{{ tag }}>
    {% endif %}
  {% else %}
    {% if auth_status == 2 %}
      <{{ tag }} contentEditable="true" class="{{ entry_class }}">
        {{ entry }}
      </{{ tag }}>
    {% else %}
      <{{ tag }} class="{{ entry_class }}">
        {{ entry }}
      </{{ tag }}>
    {% endif %}
  {% endif %}
{% endmacro %}
