{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block title %}Sign Up - Kifutalk{% endblock %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-up-login.css') }}">
{% endblock %}
{% block body %}
  {{ super() }}
  <form id="sign-up" method="post">
    {{ render_field(form.email) }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ form.submit }}
    {{ form.csrf_token }}
  </form>
{% endblock %}
