{% extends 'layout.html' %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/kifulist.css') }}">
{% endblock %}

{% block body %}
  {{ super() }}
  <main>
    <div id='owned'>
      {% with
        prev_url=url_for('profile', user_id=user_id, page=page_num-1),
        next_url=url_for('profile', user_id=user_id, page=page_num+1),
        list_title='Uploads by '+username
      %}
        {% include('kifulist.html') %}
      {% endwith %}
    </div>
  </main>
{% endblock %}
