.list-container {
  font-family: 'Open Sans', sans-serif;
  color: #f8f8f8;
  letter-spacing: 0.7px;
  line-height: 30px;
  background: #355987;
  width: 800px;
}

.list-container a {
  text-decoration: none;
  color: #f8f8f8;
}

.kifu-entry {
  border-top: 1px solid #254977;
  padding: 10px;
  padding-left: 20px;
}

.kifu-entry:hover {
  background: #254977;
}

.kifu-info {
  font-size: 18px;
  width: 600px;
  max-width: 610px;
  overflow: hidden;
}

.kifu-thumbnail {
  height: 125px;
  width: 125px;
  display: inline-block;
  vertical-align: top;
}

.kifu-info {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

.kifu-title, .number-of-comments {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 5px;
}

.kifu-title {
  margin-right: 5px;
}

.player-info, .kifu-upload {
  text-align: right;
}

.page-nav {
  font-size: 0;
  line-height: 40px;
  height: 40px;
  font-weight: bold;
  border-top: 1px solid #254977;
  border-bottom: 1px solid #254977;
}

.page-nav svg {
  height: 40px;
  width: 25px;
}

.page-nav svg line,
.page-nav svg polyline {
  stroke: #f8f8f8;
}

.page-nav span {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  height: inherit;
  width: 40px;
  text-align: center;
}

.page-nav a {
  display: inline-block;
  vertical-align: top;
  padding: 0 177px;
  height: inherit;
  line-height: 40px;
  vertical-align: center;
}

.page-nav a:hover {
  background: #254977;
}

.no-kifu {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 800px;
  height: 770px;
  line-height: 770px;
  text-align: center;
}
